{% extends 'layout.html' %}

{% block content %}

<script type="text/ng-template" id="loginView">
    <div class="container" >
        <div class="login-title">
            <h1 class="icon"><span class="fui-photo"></span></h1>
        </div>
        <form class="login-form" ng-submit="doLogin()" name="loginForm" ng-controller="loginCtrl">
            <p class="errorMsg">[[errorMsg]]</p>
            <div class="login-form-item">
                <label class="login-label"><span class="fui-user"></span></label>
                <input type="email" class="login-input" placeholder="Email" ng-model="email" required/>
            </div>
            <div class="login-form-item login-form-dark">
                <label class="login-label"><span class="fui-lock"></span></label>
                <input type="password" class="login-input" placeholder="Password" ng-model="password" required/>
            </div>
            <div class="login-form-item">
                <input type="submit" value="login" class="login-button login-botton-disabled" ng-class="[]" ng-disabled="loginForm.$invalid"/>
            </div>
        </form>
        <div class="login-foot">
            <p>&copy; 2014 by <a href="http://www.zhanxin.info" target="_blank">zhanxin.info</a></p>
        </div>
    </div>
</script>

<script type="text/ng-template" id="cameraView">
    <div class="container" ng-controller="cameraCtrl">

        {{picture.item}}111111111111111111

        <div class="col-xs-12">
            <div class="photo palette palette-wet-asphalt">
                {{errorMsg}}
                <div class="photo-cnt">
                    <img src="/photo/{{picture}}" width="320" height="240" class="img-rounded img-responsive"/>
                </div>
            </div>
        </div>
        <div class="col-xs-12 action">
            <a class="btn btn-primary btn-large btn-block" ng-click="cameraAction()" ng-class="{disabled: doAction}"><span class="fui-photo"></span> Take a picture</a>
        </div>
        <div class="col-xs-12">
            <p class="cp">
            &copy;2014 by <a href="http://www.zhanxin.info">zhanxin.info</a>
            </p>
        </div>
    </div>
</script>
{% endblock %}