body {
    padding: 20px 0 20px;
}
.logo {
    color: #ecf0f1;
    font-size: 32px;
    margin: 15px 0 35px 0;
}
.container {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    min-height: 500px;
}
.photo {
    height: auto;
    min-height: 200px;
    background: #36495f url(../photo/thumb.jpg) no-repeat center left;
}
.photo .photo-cnt {
    margin: 0 auto;
    text-align: center;
}
.photo .photo-cnt img {
    background: #36495f;
}
.action {
    margin: 40px 0 30px;
}
.cp {
    text-align: center;
    color: #36495f;
    font-size: 16px;
}
.cp a {
    color: #36495f;
}