body {
    padding: 15px 0 15px;
}
.logo {
    color: #ecf0f1;
    font-size: 32px;
    margin: 10px 0 30px 0;
}
.container {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    min-height: 500px;
}
.photo {
    height: auto;
    min-height: 200px;
    background: #36495f url(../photo/thumb.jpg) no-repeat center left;
}
.photo .photo-cnt {
    margin: 0 auto;
    text-align: center;
}
.photo .photo-cnt img {
    background: #36495f;
}
.photo .loading {
    background: #36495f;
    text-align: center;
    vertical-align: middle;
    height: 240px;
}
.photo .loading img {
    margin:  80px auto;
}
.action {
    margin: 30px 0;
}