/**
 * @Name: Remote-camera
 * @Author: zhanxin.lin < pizner@gmail.com >
 * @Create: 2014.02
 */
/****** reset ******/
html{color:#fff;background:#5a6377;}
a{cursor:pointer;}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
/* h1,h2,h3,h4,h5,h6{font-size:100%;} */
q:before,q:after{content:'';}
abbr,acronym {border:0;font-variant:normal;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;outline-style:none;outline-width:0pt;}
legend{color:#000;}
a:focus,object,h1,h2,h3,h4,h5,h6{-moz-outline-style: none; border:0px;}
/*input[type="Submit"]{cursor:pointer;}*/
strong {font-weight: bold;}

/*
html5doctor.com Reset Stylesheet
v1.4.1
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

:focus {
	outline: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

input, select {
    vertical-align:middle;
}

/****** Font ******/
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-black-webfont.eot');
  src: url('../fonts/lato/lato-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-black-webfont.woff') format('woff'), url('../fonts/lato/lato-black-webfont.ttf') format('truetype'), url('../fonts/lato/lato-black-webfont.svg#latoblack') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-bold-webfont.eot');
  src: url('../fonts/lato/lato-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bold-webfont.woff') format('woff'), url('../fonts/lato/lato-bold-webfont.ttf') format('truetype'), url('../fonts/lato/lato-bold-webfont.svg#latobold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-bolditalic-webfont.eot');
  src: url('../fonts/lato/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bolditalic-webfont.woff') format('woff'), url('../fonts/lato/lato-bolditalic-webfont.ttf') format('truetype'), url('../fonts/lato/lato-bolditalic-webfont.svg#latobold_italic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-italic-webfont.eot');
  src: url('../fonts/lato/lato-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-italic-webfont.woff') format('woff'), url('../fonts/lato/lato-italic-webfont.ttf') format('truetype'), url('../fonts/lato/lato-italic-webfont.svg#latoitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-light-webfont.eot');
  src: url('../fonts/lato/lato-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-light-webfont.woff') format('woff'), url('../fonts/lato/lato-light-webfont.ttf') format('truetype'), url('../fonts/lato/lato-light-webfont.svg#latolight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-regular-webfont.eot');
  src: url('../fonts/lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-regular-webfont.woff') format('woff'), url('../fonts/lato/lato-regular-webfont.ttf') format('truetype'), url('../fonts/lato/lato-regular-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Flat-UI-Icons';
  src: url('../fonts/Flat-UI-Icons.eot');
  src: url('../fonts/Flat-UI-Icons.eot?#iefix') format('embedded-opentype'), url('../fonts/Flat-UI-Icons.woff') format('woff'), url('../fonts/Flat-UI-Icons.ttf') format('truetype'), url('../fonts/Flat-UI-Icons.svg#Flat-UI-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'Flat-UI-Icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="fui-"] {
*/
.fui-arrow-right,
.fui-arrow-left,
.fui-cmd,
.fui-check-inverted,
.fui-heart,
.fui-location,
.fui-plus,
.fui-check,
.fui-cross,
.fui-list,
.fui-new,
.fui-video,
.fui-photo,
.fui-volume,
.fui-time,
.fui-eye,
.fui-chat,
.fui-search,
.fui-user,
.fui-mail,
.fui-lock,
.fui-gear,
.fui-radio-unchecked,
.fui-radio-checked,
.fui-checkbox-unchecked,
.fui-checkbox-checked,
.fui-calendar-solid,
.fui-pause,
.fui-play,
.fui-check-inverted-2 {
  display: inline-block;
  font-family: 'Flat-UI-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
.fui-arrow-right:before {
  content: "\e02c";
}
.fui-arrow-left:before {
  content: "\e02d";
}
.fui-cmd:before {
  content: "\e02f";
}
.fui-check-inverted:before {
  content: "\e006";
}
.fui-heart:before {
  content: "\e007";
}
.fui-location:before {
  content: "\e008";
}
.fui-plus:before {
  content: "\e009";
}
.fui-check:before {
  content: "\e00a";
}
.fui-cross:before {
  content: "\e00b";
}
.fui-list:before {
  content: "\e00c";
}
.fui-new:before {
  content: "\e00d";
}
.fui-video:before {
  content: "\e00e";
}
.fui-photo:before {
  content: "\e00f";
}
.fui-volume:before {
  content: "\e010";
}
.fui-time:before {
  content: "\e011";
}
.fui-eye:before {
  content: "\e012";
}
.fui-chat:before {
  content: "\e013";
}
.fui-search:before {
  content: "\e01c";
}
.fui-user:before {
  content: "\e01d";
}
.fui-mail:before {
  content: "\e01e";
}
.fui-lock:before {
  content: "\e01f";
}
.fui-gear:before {
  content: "\e024";
}
.fui-radio-unchecked:before {
  content: "\e02b";
}
.fui-radio-checked:before {
  content: "\e032";
}
.fui-checkbox-unchecked:before {
  content: "\e033";
}
.fui-checkbox-checked:before {
  content: "\e034";
}
.fui-calendar-solid:before {
  content: "\e022";
}
.fui-pause:before {
  content: "\e03b";
}
.fui-play:before {
  content: "\e03c";
}
.fui-check-inverted-2:before {
  content: "\e000";
}

body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.72222;
    color:#fff;
    background:#1f222b;
}

a {
    color: #979faf;
    text-decoration: none;
}
a:hover,
a:focus {
    text-decoration: none;
}
a:focus {
    outline: none;
}
.container {
    padding: 20px 0px;
    position: relative;
}

.logo {
    width: 270px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 15px 30px 15px;
    background: #5a6377;
    border-radius: 3px 3px 0 0;
}
.logo .icon {
    font-size: 60px;
    line-height: 80px;
    color: #b3bcd0;
}
.foot {
    padding: 10px 15px;
    margin: 0 auto;
    width: 270px;
    height: auto;
    background: #393f4e;
    border-radius: 0 0 3px 3px;
}
.foot p {
    color: #979faf;
    text-align: right;
    font-size: 14px;
    line-height: 25px;
}

/****** Login page ******/

.login-form {
    position: relative;
    padding: 20px 15px;
    display: block;
    width: 270px;
    margin: 0 auto;
    background: #5a6377;
}
.login-form-item {
    margin: 0 0 20px 0;
    display: block;
    height: auto;
}
.login-form-item:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.login-label {
    width: 45px;
    height: 45px;
    line-height: 45px;
    float: left;
    display: block;
    background: #fff;
    border-radius: 3px 0 0 3px;
    text-align: center;
    font-size: 18px;
    color: #434a5b;
}
.login-input {
    width: 210px;
    height: 25px;
    line-height: 25px;
    font-size: 18px;
    padding: 10px 15px 10px 0;
    border: 0;
    border: none;
    border-radius: 0 3px 3px 0;
    float: left;
    background: #fff;
    color: #434a5b;
}

.login-form-dark .login-label,
.login-form-dark .login-input {
    background: #393f4e;
    color: #a5adbd;
}

.login-button {
    line-height: 45px;
    height: 45px;
    border: none;
    -webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
    background: #39d1ea !important;
    font-size: 18px;
    color: #fff;
    display: block;
    width: 100%;
    cursor: pointer;
    text-align: center;
}
input:disabled {
    background: #438b9c !important;
}
.login-error {
    position: absolute;
    display: none;
    top: -25px;
    left: 15px;
    width: 240px;
    padding: 5px 15px;
    background: #ff6b6e;
    font-size: 14px;
    border-radius: 3px 3px;
}
.login-error-show {
    display: block;
}
/****** Camera page ******/
.camera-photo {
    width: 270px;
    height: 200px;
    border-radius: 3px 3px 0 0;
    margin: 0 auto;
    text-align: center;
    padding: 20px 15px 20px 15px;
    background-color: #5a6377;
    position: relative;
}
.camera-photo-menu {
    position: absolute;
    width: 270px;
    padding: 10px 15px;
    height: 30px;
    top: 0;
    left: 0;
}
.camera-photo-menu:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.camera-photo-menu .list-btn {
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: rgba(255,255,255,0.6);
}
.camera-photo-menu .camera-title {
    width: 240px;
    height: 30px;
    float: left;
    line-height: 30px;
    text-align: center;
    text-indent: -30px;
    font-size: 14px;
    color: rgba(255,255,255,0.6);
    font-weight: bold;
}
.camera-photo-info {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px 15px;
    width: 270px;
    line-height: 35px;
    font-size: 14px;
    border-radius: 3px 3px;
    color: #d4d7da;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
}
.camera-photo-error {
    position: absolute;
    width: 270px;
    bottom: 0;
    left: 0;
    margin: 10px 15px;
    height: auto;
    font-size: 14px;
    line-height: 35px;
    border-radius: 3px 3px;
    color: #fff;
    z-index: 101;
    background: #ff6b6e;
}
.camera-action {
    border-top: 2px solid #545c6f;
    width: 270px;
    text-align: center;
    padding: 20px 15px;
    margin: 0 auto;
    height: auto;
    background: #5a6377;
}
.camera-action .camera-btn {
    display: block;
    line-height: 40px;
    font-size: 20px;
    background: #53b7cb;
    color: #fff;
    border-radius: 3px 3px;
}
.camera-action .camera-btn:hover {
    background: #5dd1e9;
}
.camera-action .camera-btn-disabled {
    background: #438b9c;
}
.camera-info {
    border-top: 2px solid #545c6f;
    padding: 10px 15px;
    width: 270px;
    margin: 0 auto;
    font-size: 14px;
    font-style: italic;
    background: #5a6377;
    color: #9fa7b7;
    text-align: center;
}
/****** Menu page ******/
.menu {
    border-top: 2px solid #545c6f;
    width: 300px;
    text-align: center;
    margin: 0px auto 0 auto;
    height: auto;
    background: #5a6377;
    padding-bottom: 30px;
}
.menu:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.menu-list {
    float: left;
    width: 98px;
    height: 98px;
    display: block;
    border-left: 1px solid #545c6f;
    border-right: 1px solid #545c6f;
    border-bottom: 2px solid #545c6f;
}
.menu-list-link {
    padding: 10px 0;
    width: 98px;
    height: 78px;
    display: block;
    text-align: center;
}
.menu-list-link:hover {
    background: #545c6f;
}
.menu-list-link:hover .icon {
    color: #5dd1e9;
}
.menu-list-link .icon {
    width: 100%;
    display: block;
    font-size: 32px;
    vertical-align: middle;
    line-height: 54px;
}
.menu-list-link .text {
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: #b3bcd0;
}
/****** Photos page ******/
.photos {
    width: 300px;
    height: auto;
    margin:  0 auto;
    background: #5a6377;
    border-radius: 3px 3px 0 0;
}
.photos-action {
    height: 30px;
    line-height: 30px;
    width: 270px;
    border-radius: 3px 3px 0 0;
    padding: 10px 15px;
    background: url(../images/bg.jpg) no-repeat 0 0;
}
.photos-action:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.photos-action .list-btn {
    float: left;
}
.photos-action .list-btn {
    width: 30px;
    height: 30px;
    display: block;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: rgba(255,255,255,0.6);
}
.photos-title {
    width: 240px;
    height: 30px;
    float: left;
    line-height: 30px;
    text-align: center;
    text-indent: -30px;
    font-size: 14px;
    color: rgba(255,255,255,0.6);
    font-weight: bold;
}
.photos-list {
    border-top: 1px solid #545c6f;
    border-bottom: 1px solid #545c6f;
    width: 300px;
    height: auto;
    min-height: 290px;
    background: #5a6377;
}
.photos-list-item {
    border-top: 1px solid #545c6f;
    border-bottom: 1px solid #545c6f;
    display: block;
    height: 51px;
    padding: 10px 0 10px 15px;
    position: relative;
}
.photos-list-item:hover {
    background: #545c6f;
}
.photos-list-item:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.photos-list-item .img {
    width: 60px;
    height: 45px;
    margin: 0px 3px;
    float: left;
    display: block;
}
.photos-list-item .img img {
    width: 60px;
    height: 45px;
}
.photos-list-item .text {
    width: 145px;
    float: left;
    height: 45px;
    margin: 0px 3px 0 15px;
}
.photos-list-item .text p {
    line-height: 24px;
    font-size: 14px;
}
.photos-list-item .text span {
    font-size: 12px;
    line-height: 24px;
    color: #b3bcd0;
    display: block;
}
.photos-list-item .action {
    width: 45px;
    height: 45px;
    float: left;
    margin: 0px 3px;
    text-align: center;
}
.photos-list-item .action-btn {
    width: 45px;
    height: 45px;
    display: block;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
}
.photos-list-item .action-btn:hover {
    color: #5dd1e9;
}
.photos-list-item .action-pop {
    width: 202px;
    height: 70px;
    background: #393f4e;
    position: absolute;
    right: 3px;
    top: 0;
    font-size: 14px;
    border-radius: 3px 3px;
    display: none;
}

.photos-list-item .action-pop.active {
    display: block;
}
.photos-list-item .action-pop .warninfo {
    display: block;
    font-size: 14px;
    line-height: 34px;
}
.photos-list-item .action-pop .btninfo {
    color: #b3bcd0;
}
.photos-list-item .action-pop .action-yes {
    border-radius: 3px 3px;
    width: 60px;
    line-height: 26px;
    display: inline-block;
    background: #53b7cb;
    color: #fff;
    margin: 0 5px;
}
.photos-list-item .action-pop .action-yes:hover {
    background: #5dd1e9;
}
.photos-list-item .action-pop .action-no {
    border-radius: 3px 3px;
    width: 60px;
    line-height: 26px;
    display: inline-block;
    background: #21242d;
    color: #fff;
    margin: 0 5px;
}
.photos-list-item .action-pop .action-no:hover {
    background: #5b6377;
}
.photos-list-result {
    text-align: center;
    font-size: 14px;
    width: 240px;
    line-height: 80px;
    margin: 0 auto;
}
/****** Address page ******/
.address {
    width: 300px;
    height: 240px;
    margin: 0 auto;
    background: #565f72 url(../images/address.jpg) no-repeat 0 0;
    border-radius: 3px 3px 0 0;
}

.address-menu {
    height: 30px;
    line-height: 30px;
    width: 270px;
    border-radius: 3px 3px 0 0;
    padding: 10px 15px;
}
.address-menu:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.address-menu .list-btn {
    float: left;
}
.address-menu .list-btn {
    width: 30px;
    height: 30px;
    display: block;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #565f72;
}
.address-menu-title {
    width: 240px;
    height: 30px;
    float: left;
    line-height: 30px;
    text-align: center;
    text-indent: -30px;
    font-size: 14px;
    color: #565f72;
    font-weight: bold;
}
.address-show {
    margin: 30px auto;
    padding: 10px 10px;
    width: 220px;
    height: 60px;
    background: rgba(90, 100, 120, 0.9);
    border-radius: 3px 3px;
}
.address-show .icon {
    width: 60px;
    height: 60px;
    display: block;
    float: left;
    font-size: 42px;
    line-height: 60px;
    text-align: center;
}
.address-show .text {
    width: 160px;
    height: 60px;
    line-height: 30px;
    font-size: 14px;
    float: left;
    color: #9fa7b6;
}
.address-show .text span {
    color: #ffffff;
    font-style: italic;
}
.address-action {
    border-top: 2px solid #545c6f;
    width: 300px;
    margin: 0 auto;
    background: #565f72;
}
.address-action:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.address-action-host, .address-action-rounter {
    float: left;
    display: block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    display: block;
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
    color: #fff;
    border-radius: 3px 3px;
    font-weight: normal;
}
.address-action-host {
    background: #53b7cb;
    margin: 20px 20px 20px 30px;
}
.address-action-host:hover {
    background: #5dd1e9;
}
.address-action-rounter {
    background: #5ac163;
    margin: 20px 30px 20px 20px;
}
.address-action-rounter:hover {
    background: #6cd276;
}
/****** About page ******/
.about {
    width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 3px 3px 0 0;
    background: #5a6377;
}
.about-menu {
    height: 30px;
    line-height: 30px;
    width: 270px;
    border-radius: 3px 3px 0 0;
    padding: 10px 15px;
    background: url(../images/bg.jpg) no-repeat 0 0;
}
.about-menu:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.about-menu .list-btn {
    float: left;
}
.about-menu .list-btn {
    width: 30px;
    height: 30px;
    display: block;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: rgba(255,255,255,0.6);
}
.about-menu-title {
    width: 240px;
    height: 30px;
    float: left;
    line-height: 30px;
    text-align: center;
    text-indent: -30px;
    font-size: 14px;
    color: rgba(255,255,255,0.6);
    font-weight: bold;
}
.about-detail {

}
.about-detail .version {
    height: 100px;
    text-align: center;
    border-bottom: 2px solid #545c6f;
}
.about-detail .version p {
    font-size: 14px;
    font-style: italic;
    color: #9ea6b7;
}

.about-link {
    padding: 15px 15px;
}
.about-link .github {
    display: block;
    line-height: 40px;
    font-size: 14px;
    background: #383f4e;
    color: #fff;
    border-radius: 3px 3px;
    text-align: center;
}
.about-link .github:hover {
    background: #282d37;
}
/****** System page ******/
.system {
    width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 3px 3px 0 0;
    background: #5a6377;
}
.system-menu {
    height: 30px;
    line-height: 30px;
    width: 270px;
    border-radius: 3px 3px 0 0;
    padding: 10px 15px;
    background: url(../images/bg.jpg) no-repeat 0 0;
}
.system-menu:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.system-menu .list-btn {
    float: left;
}
.system-menu .list-btn {
    width: 30px;
    height: 30px;
    display: block;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: rgba(255,255,255,0.6);
}
.system-menu-title {
    width: 240px;
    height: 30px;
    float: left;
    line-height: 30px;
    text-align: center;
    text-indent: -30px;
    font-size: 14px;
    color: rgba(255,255,255,0.6);
    font-weight: bold;
}
.system-list {
}
.system-list li {
    border-top: 2px solid #545c6f;
}
.system-list li:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.system-list li .title {
    font-size: 14px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    float: left;
    color: #9ea6b5;
}
.system-list li .value {
    width: 150px;
    padding: 10px 0 10px 40px;
    float: left;
}
.system-list li .value .top {
    font-size: 12px;
    line-height: 24px;
    color: #9ea6b5;
    font-style: italic;
}
.system-list li .value .bottom {
    font-size: 20px;
    line-height: 24px;
}